# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
dist-electron
_staging
release
release-clean
release-android
release-apk
release-electron-builder
_build
*.asar
_app.asar

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
main.js
tsconfig.electron.tsbuildinfo
*.jar
*.png
heart-js-keystore.keystore
